<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello</title>
    <link rel="stylesheet" href="/public/css/main.css">
</head>
<body>
<div class="centered">
    <form class="form" method="get" action="/main">
        <input placeholder="Search..." class="form-elem" name="search" type="text"/>
        <button class="form-elem" type="submit">GO!</button>
    </form>
    <p class="title">List of Github repositories by query <b>{{query}}</b></p>
    <table class="mytable">
        <tr>
            <th>ID</th>
            <th>Repository</th>
            <th>Owner</th>
            <th>Link</th>
        </tr>
        {{#each page}}
        <tr>
            <td>{{this.id}}</td>
            <td>{{this.name}}</td>
            <td>{{this.owner.login}}</td>
            <td><a href="{{this.html_url}}">{{this.html_url}}</a></td>
        </tr>
        {{/each}}
    </table>
    <div class="pagination">
        <ul class="pagination">
            <a href="/prev">
                <li>
                    &laquo;
                </li>
            </a>
            {{#each paginator}}

            <a href="/main?page={{this.page}}">
                {{#if this.active}}
                <li style="background: lightgray">{{this.page}}</li>
                {{else}}
                <li>{{this.page}}</li>
                {{/if}}
            </a>

            {{/each}}

            <a href="/next">
                <li>&raquo;</li>
            </a>

        </ul>
    </div>
</div>
</body>
</html>