<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello</title>
    <link rel="stylesheet" href="/public/css/main.css">
</head>
<body>
<div class="centered">
    <div class="pagination">
        <ul class="pagination">
            <a href="/prev">
                <li>
                    &laquo;
                </li>
            </a>
            {{#each paginator}}

            <a href="/main?page={{this.page}}">
                {{#if this.active}}
                    <li style="background: lightgray">{{this.page}}</li>
                {{else}}
                    <li>{{this.page}}</li>
                {{/if}}
            </a>

            {{/each}}

            <a href="/next">
                <li>&raquo;</li>
            </a>

        </ul>
    </div>
        {{#each page}}
        <li>{{this.id}}</li>
        {{/each}}
</div>
</body>
</html>